.main-button {
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  border-radius: 15px;
  min-width: 120px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

.main-button:hover {
  background-color: red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15 px;
  padding-right: 15 px;
  position: relative;
}

.clearfix {
  clear: both;
}

.head-with-border {
  position: relative;
}

.head-with-border h2 {
  background-color: rgba(255, 0, 0, 0.7);
  text-align: center;
  color: white;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.head-with-border:before {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: -1;
}

.footer {
  background-color: grey;
  overflow-x: hidden;
  height: 400px;
  margin-top: 50px;
  padding-top: 45px;
}

.footer .gallery {
  width: 50%;
  float: left;
}

.footer .gallery .img-box {
  overflow: hidden;
  margin: 10px 0px;
}

.footer .gallery .img-box img {
  float: left;
  width: 110px;
  height: 110px;
}

.footer .gallery .img-box .text {
  float: left;
  width: 30%;
  margin: 0px 15px;
}

.footer .gallery .img-box .text h4 {
  color: rgba(255, 0, 0, 0.7);
  margin: 0px 0px;
}

.footer .gallery .img-box .text p {
  color: #302f2f;
  margin-top: 0px;
}

.footer .info {
  width: 25%;
  float: left;
}

.footer .info ul {
  padding-left: 0px;
}

.footer .info li {
  color: #302f2f;
}

.footer .info li span {
  color: rgba(255, 0, 0, 0.7);
}

.footer .info h4 {
  color: #302f2f;
  font-weight: bold;
  margin-bottom: 0px;
}

.footer .info p {
  color: #302f2f;
  margin-top: 0px;
}

.footer .section-title {
  color: #444;
  font-weight: normal;
}

.footer .contact {
  width: 25%;
  float: left;
}

.footer .contact input, .footer .contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 15px;
}

.footer .contact textarea {
  height: 110px;
}

.footer .copyright {
  width: 100%;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
}

.footer .copyright .text, .footer .copyright .author {
  width: 50%;
  float: left;
  padding-top: 13px;
  color: #302f2f;
}

body {
  background-color: #f6f6f6;
  font-family: tahoma;
  font-size: 16px;
}

.header {
  padding: 20px 0px;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

.header .logo {
  width: 30%;
  float: left;
  cursor: pointer;
}

.header .logo h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.header .navbar {
  width: 70%;
  float: left;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.7);
  margin-top: 15px;
}

.header .navbar ul {
  list-style: none;
  margin-top: 0px;
}

.header .navbar ul li {
  float: left;
  width: 20%;
  font-size: 18px;
  text-align: center;
}

.header .navbar ul li a {
  display: block;
  float: left;
  text-decoration: none;
  padding: 20px 10px;
  color: #fff;
  text-transform: uppercase;
}

.header .navbar ul li a:hover {
  color: grey;
}

/*
Strart with Slider
*/
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-width: bold;
  font-family: tahoma, arial;
  line-height: 1.7em;
  text-align: center;
  text-decoration: none;
  color: #272626;
  width: 80%;
  margin: 30px auto;
}

.slider img {
  width: 100%;
  height: 450px;
}

.slider .blts {
  text-align: center;
}

.slider .blts li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d1d1d1;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}

.slider .blts li.active {
  border: 3px solid black;
  background-color: white;
}

.slider .blts li:hover {
  border: 3px solid black;
  background-color: white;
}

/* Start services*/
.services .service-box {
  float: left;
  width: 33.33333%;
}

.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}

.services .service-box .service-title {
  font-family: bold;
  font-size: 20px;
}

.services .service-box i {
  font-size: 30px;
  margin-right: 8px;
  position: relative;
}

.services .service-box .desc {
  padding-left: 8px;
  font-family: tahoma;
  color: grey;
}

.services .service-box .link {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.7);
}

/* Start Players*/
.players .player-box {
  float: left;
  width: 19.2%;
}

.players .player-box:not(:last-of-type) {
  margin-right: 1%;
}

.players .player-box .player-title {
  font-size: 20px;
  font-weight: normal;
}

.players .player-box .player-title span {
  font-weight: bold;
}

.players .player-box .player-desc {
  padding-left: 8px;
  font-family: tahoma;
  color: grey;
}

.players .player-box .link {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.7);
}

/*start lorem*/
.lorem-ip .lorem-box {
  float: left;
  width: 31.33333%;
}

.lorem-ip .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}

.lorem-ip .lorem-box .lorem-img {
  max-width: 100%;
}

.footer {
  background-color: grey;
  overflow-x: hidden;
  height: 400px;
  margin-top: 50px;
  padding-top: 45px;
}

.footer .gallery {
  width: 50%;
  float: left;
}

.footer .gallery .img-box {
  overflow: hidden;
  margin: 10px 0px;
}

.footer .gallery .img-box img {
  float: left;
  width: 110px;
  height: 110px;
}

.footer .gallery .img-box .text {
  float: left;
  width: 30%;
  margin: 0px 15px;
}

.footer .gallery .img-box .text h4 {
  color: rgba(255, 0, 0, 0.7);
  margin: 0px 0px;
}

.footer .gallery .img-box .text p {
  color: #302f2f;
  margin-top: 0px;
}

.footer .info {
  width: 25%;
  float: left;
}

.footer .info ul {
  padding-left: 0px;
}

.footer .info li {
  color: #302f2f;
}

.footer .info li span {
  color: rgba(255, 0, 0, 0.7);
}

.footer .info h4 {
  color: #302f2f;
  font-weight: bold;
  margin-bottom: 0px;
}

.footer .info p {
  color: #302f2f;
  margin-top: 0px;
}

.footer .section-title {
  color: #444;
  font-weight: normal;
}

.footer .contact {
  width: 25%;
  float: left;
}

.footer .contact input, .footer .contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 15px;
}

.footer .contact textarea {
  height: 110px;
}

.footer .copyright {
  width: 100%;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
}

.footer .copyright .text, .footer .copyright .author {
  width: 50%;
  float: left;
  padding-top: 13px;
  color: #302f2f;
}
/*# sourceMappingURL=homepage.css.map */