*{
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left:15 px;
    padding-right:15 px;
     position: relative;
}
.clearfix {
    clear: both;
}
    

